body{
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    margin: 0 !important;
}

header {
  margin: 0 !important;
  padding: 0 !important;
}

#select{
    display: flex;
    flex-flow: column;
    width: 20%;
}

main{
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 50px;
}