body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
}
header{
    height: 300px;
}
#select{
    display: flex;
    flex-flow: column;
    width: 20%;
}
.card{
    border: 5px solid black;
    width: 400px;
    height: 500px;
    padding: 10px;
    text-align: center;
}
#destaque{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}
main{
    width: 100%;
    gap: 50px;
}