<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="py-5 bg-dark text-white text-center">
      <h1 class="mb-4 mt-3 ms-2">Grafico</h1>
    </div>
    <div class="container mt-5">

        <div class="card shadow-sm mb-4">
            <div class="card-body">

                <h4 class="mb-3">Gerar Gráfico</h4>

                <form action="/data" method="POST">
                  <select name="category" id="category" class="form-select">
                   <option value="pizza">Pizza</option>
                   <option value="bar">Barra Vertical</option>
                   <option value="hodBar">Barra Horizontal</option>
                  </select>

                  <select name="y" id="y" class="form-select mb-3 mt-3">
                    {{ y | safe }}
                  </select>

                  <p>Customização</p>
                    <input type="color" name="color">

                    <input type="text" name="width" placeholder="largura da barra">

                  <button type="submit" class="btn btn-primary w-100 py-3 mb-3">Gerar gráfico</button>
                </form>

                <div class="col">
                    <form action="/area_pessoal" method="get">
                        <button class="btn btn-secondary w-100 py-3">Voltar</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Imagem do gráfico -->
       <div class="text-center">
           <img src="{{ grafico | safe }}" class="img-fluid rounded shadow" style="max-width: 500px;">
        </div>


        
    </div>

</body>
</html>