<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <div class="py-5 bg-dark text-white text-center">
      <h1 class="mb-4 mt-3 ms-2">Grafico</h1>
    </div>
    <div class="container mt-4">
                <form action="/data" method="POST">
                  <!-- Tipo de gráfico -->
                    <div class="mb-3">
                    <label for="category" class="form-label">Tipo de gráfico</label>
                    <select name="category" id="category" class="form-select">
                        <option value="pizza">Pizza</option>
                        <option value="bar">Barra Vertical</option>
                        <option value="hodBar">Barra Horizontal</option>
                        <option value="stairs">Escada</option>
                        <option value="hist">Histograma</option>
                    </select>
                    </div>

                  <!-- Y -->
                    <div class="mb-3">
                    <label for="y" class="form-label">Coluna Y</label>
                    <select name="y" id="y" class="form-select">
                        {{ y | safe }}
                    </select>
                    </div>

                  <!-- Customização -->
                  <h5 class="mt-4">Customização</h5>

                  <div class="row g-3 mt-1">
                    
                    <div class="col-6">
                        <label class="form-label">Cor</label>
                        <input type="color" name="color" class="form-control form-control-color">
                    </div>

                    <div class="col-6">
                        <label class="form-label">Largura da barra/pizza</label>
                        <input type="text" name="width" class="form-control" placeholder="ex: 0.8">
                    </div>

                    <div class="col-6">
                        <label class="form-label">Largura</label>
                        <input type="number" name="w" class="form-control" placeholder="px">
                    </div>

                    <div class="col-6">
                        <label class="form-label">Altura</label>
                        <input type="number" name="h" class="form-control" placeholder="px">
                    </div>

                    <div class="col-12 form-check mt-2">
                        <input type="checkbox" name="grid" class="form-check-input" id="grid">
                        <label for="grid" class="form-check-label">Mostrar grid</label>
                    </div>

                  </div>

                  <button type="submit" class="btn btn-primary w-100 py-3 mb-3">Gerar gráfico</button>
                </form>

                <div class="col">
                    <form action="/area_pessoal" method="get">
                        <button class="btn btn-secondary w-100 py-3">Voltar</button>
                    </form>
                </div>
            </div>

            
        </div>
      </div>


    </div>
  </div>

        <!-- Imagem do gráfico -->
       <div class="text-center">
           <img src="{{ grafico | safe }}" class="img-fluid rounded shadow" style="max-width: 500px;">
        </div>


        
    </div>
    <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
</body>
</html>